* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.hero, .playAgainOutcome{
  color: rgb(10, 10, 129);
  background-color: rgba(65, 64, 53, 0.315);
  font-style: italic;
  font-weight: 900;
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 70px;
  background-color: rgb(29, 91, 142);
}

.hide {
  display: none;
}

#startButton {
  background-color: rgba(65, 64, 53, 0.315);
}

.card {
  width: 30rem;
}

#NameButton1,
#NameButton2,
#NameButton3 {
  background-color: rgb(29, 91, 142);
}

#finalPage {
  margin: 10px auto;
}

.scoreDesign {
  font-family: Arial, Helvetica, sans-serif;
}

#quoteDisplay {
  font-size: 25px;
}

.editCardBody {
  border: none;
}

@media screen and (max-width: 525px) {
  body {
    background-color: blueviolet;
  }

  #score {
    color: white;
  }
}