*{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.hero {
  color: blue;
  background-color: rgb(188, 202, 149);
  font-style: italic;
  font-weight: 900;
}
.btn {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 70px;
  background-color: rgb(29, 91, 142);
}

.hide {
  display: none;
}

#startButton {
  background-color: rgb(188, 202, 149);
}

.card {
  width: 30rem;
}

#NameButton1,
#NameButton2,
#NameButton3 {
  background-color: rgb(29, 91, 142);
}

#finalPage{
margin: 10px auto;
}

.scoreDesign{
 font-family:Arial, Helvetica, sans-serif;

}

#quoteDisplay{
font-size: 25px;
}