.hero {
  color: blue;
  background-color: rgb(188, 202, 149);
  font-style: italic;
  font-weight: 900;
}
.btn{
  margin-top: 10px;
  margin-bottom: 10px;
  height: 50px;
}

.hide {
  display: none;
}

#startButton{
  background-color: rgb(188, 202, 149);
}